<html>
    <head>
      {% if title %}
      <title>{{ title }} - Microservice</title>
      {% else %}
      <title>Welcome to Microservice</title>
      {% endif %}

    <title>Flask app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    </head>
    <body>
         <header>
      <div class="container">
        <h1 class="logo">plane ticketing system</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="/index">Home</a></li>
            <li><a href="/united">United</a></li>
              <li><a href="/qantas">Qantas</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
        {% block content %}{% endblock %}
    </body>
</html>