<!DOCTYPE html>
<html>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">ptr</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('united') }}">About</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
  </body>
</html>